.body {
      font-family: "roboto", sans-serif;
      margin: 0;
    }
    .no-size {
      margin: 0;
      padding: 0;
    }
    .image {
      display: block;
    }
    .address {
      font-style: inherit;
    }
    .list {
      padding: 0px;
      list-style: none;
    }
    .link {
      text-decoration: none;
    }
    