$accentColorOne:#FF7400;
$accentColorTwo:#D67E34;
$accentColorThree:#BC9060;
$textColorWhite:#FFFFFF;
$textColorDark:#000000;
$textColorAboutHeader:#2C2C2C;
$textColorAbout:#656363;
$textColorHistory:#656363;