<header>
<!-- Mobile menu -->

<div>
      <img src="../images/LOGO.png" alt="logo">
      <button type="button">
            <svg width="40px" height="40px">
                  <use href="../images/icons.svg#icon-menu"></use>
            </svg>
      </button>
      <div>
      <img src="../images/LOGO.png" alt="logo">
      <button type="button">
            <svg width="40px" height="40px">
                  <use href="../images/icons.svg#icon-close-black"></use>
            </svg>
      </button>

      <ul>
            <li class="mob_item">
                  <a href="">головна</a>
            </li>
            <li class="mob_item">
                  <a href="">меню</a>
            </li>
            <li class="mob_item">
                  <a href="">про нас</a>
            </li>
            <li class="mob_item">
                  <a href="">забронювати</a>
            </li>
      </ul>
     </div>
</div>
</header>